@import "helpers/variables";
@import "helpers/mixins";


@import "base/clear";
@import "base/base";


@import "components/container";
@import "components/form";
@import "components/buttons";



@import "layouts/navbar";
@import "layouts/window";
@import "layouts/main-container";
@import "layouts/flight-search";

body{
	background: #f2f2f2;
}

.flex-outer li,
.flex-inner
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.flex-outer > li >,
.flex-outer li p
{
	flex: 1 0 120px;
	max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner 
{
	flex: 1 0 120px;
}
