
.search-form{
	width:90%;
	display:block;
	margin:auto;
	padding:10px 0;
	input{
		height:50px;	
	}	
}

.first-row-mb select{
	-webkit-appearance: button;
	-moz-appearance: none;  

	width: 265px;
	border: none;
}

.destination-from, .destination-to{
	display: flex;
	max-width: 300px;
	height: 50px;
	border:1px solid $b-main-color;
	margin-bottom: 15px;
	&:before{
		font-family:FontAwesome;
		content: "\f197" ;  /*fa-space-shuttle*/
		width: 35px;
		align-items: center;
		font-size: 1.5em;
		color: $main-color;
		margin-top: 10px;
	}
}

.destination-to:before{
		-webkit-transform: rotate(180deg);
		margin-bottom: 10px;
	}

.second-row-mb input{
	border: none;
}



#date-from, #date-to{
	display: flex;
	max-width: 300px;
	border:1px solid $b-main-color;
	margin-bottom: 15px;
	&:before{
	  	font-family:FontAwesome;
		content: "\f073"; /*fa fa-calendar*/
		margin: 10px 4px;
		color: $main-color;
		font-size: 1.5em;
		

	}	
}

.second-row-mb input[type="date"]{	
	background: transparent;
	width: 265px;
	border: none;
		&::-webkit-inner-spin-button {
		display: none;
		
	}
}	

.third-row-mb{
	display: flex;
	min-width: 300px;
	.passanger-input{
		margin-left:4px;
		border:none;
		background: transparent;
		width: 50px;
	}
}

#passanger{
	display: flex;
	max-width: 300px;
	border:1px solid $b-main-color;		
	margin-right: 10px;

	
	&:before{
	  	font-family:FontAwesome;
		content: "\f21b";  /*fa-user-secret*/	
		width: 35px;
		color: $main-color;
		font-size: 1.5em;
		margin: 15px 4px;
		/*align-content:center;*/
		/*margin-top: 15px;*/
		/*display: block;*/
		/*margin-left: 4px;	*/
	}	
}

.triptype-dropdown {
  width: 50em;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  &:before{
	font-family:FontAwesome;
	content: "\f0ec"; /*fa-exchange*/
	border: none;
	width: 35px;
	color: $main-color;
	}
}

.triptype {  
  font-size: 14px;
  border: none;
  height: 50px;
   -webkit-appearance: button;
   -moz-appearance: none;   
}





@include respond-to(medium) {

	#first-row-lg, .first-row-mb, .second-row-mb{
	display: flex;
	align-items: center;



	}
}

@include respond-to(large) {

	 .first-row-lg, .first-row-mb, .second-row-mb{
	display: flex;
	align-items: center;
	


	}
}

