

.from, .to{
	display: flex;
	&:before{
		font-family:FontAwesome;
		content: "\f197" ;
		width: 35px;
		align-items: center;
		font-size: 1.5em;
		color: $main-color;

	}
}

.to:before{
		-webkit-transform: rotate(180deg);
		margin-bottom: 15px;
	}

.from:before{
	margin-top: 15px;
}


.third-row{
	display: flex;
}

.triptype-dropdown {
  width: 115px;
  height: 34px;
  /*border: 1px solid #111;*/
  border-radius: 3px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
 

	  &:before{
	  	font-family:FontAwesome;
		content: "\f0ec";
		border: none;
		width: 35px;
		color: $main-color;
	  }
	}

.triptype {
  
  width: 115px;
  font-size: 14px;
  border: none;
  height: 34px;
  background: transparent ;
 	
}

#passanger{
	width: 100px;
}

