.container{
	display: block;
	width: 90%;
	height:auto;
	min-height:calc(100vh - 300px);
	margin: 100px auto;
	padding:50px 0 10px 0;
	background-color:white;
	box-shadow:2px 2px 10px rgba(0,0,0, 0.5);
	
}

@include respond-to(medium) {
	.container{
		width: 80%;
	}
}
@include respond-to(large) {
	.container{
		width: 80%;
	}
}