.form{
	width:90%;
	max-width:300px;
	display:block;
	margin:auto;
	text-align:center;

	.form-control{
		margin-bottom:20px;
		width:100%;
	}

	.form-row{
		width: 100%;
		// display: flex;
		// justify-content: space-between;

		.form-control{
			width:100%;
		}
	}


	label, input{
		text-align: left;
		width:100%;
		display: block;
	}
	label{
		color:$main-color;
		font-weight: bold;
	}

	input{
		line-height: 50px;
		border:1px solid $b-main-color;
		padding-left:10px;

		&::placeholder{
			color:rgba(0,0,0, 0.3);
		}
	}
}

@include respond-to(medium) {
	.form{
		width:60%;

		.form-row{
			width: 100%;
			display: flex;
			justify-content: space-between;

			.form-control{
				width:48%;
			}
		}
	}
}

@include respond-to(large) {
	.form{
		width:40%;
		
		.form-row{
			width: 100%;
			display: flex;
			justify-content: space-between;

			.form-control{
				width:48%;
			}
		}
	}
}
