html, body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.container {
  display: block;
  width: 80%;
  margin: auto; }

.form {
  width: 90%;
  display: block;
  margin: auto;
  text-align: center; }
  .form label, .form input {
    text-align: left;
    width: 80%;
    display: block; }
  .form label {
    margin-top: 10px; }

@media only screen and (min-width: 601px) and (max-width: 901px) {
  .form {
    width: 60%; } }

@media only screen and (min-width: 901px) {
  .form {
    width: 40%; } }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 50px;
  background-color: #009688; }
  .navbar a {
    color: white; }
  .navbar .nav-brand, .navbar .hide-nav {
    position: absolute;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center; }
  .navbar .nav-brand {
    left: 10%; }
  .navbar .hide-nav {
    right: 10%; }
  .navbar ul {
    position: relative;
    margin-top: 50px; }
    .navbar ul li {
      height: 50px;
      border-top: 1px solid rgba(255, 255, 255, 0.1); }
      .navbar ul li a {
        width: 100%;
        display: inline-block;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white; }

@media only screen and (min-width: 901px) {
  .navbar {
    display: flex; }
    .navbar .hide-nav {
      display: none; }
    .navbar ul {
      position: absolute;
      right: 10%;
      margin: 0;
      display: inline-block; }
      .navbar ul li {
        display: inline-block;
        margin-right: 20px; }
        .navbar ul li a {
          padding: 0 10px; }
          .navbar ul li a:hover {
            background-color: #00796B; } }

.wdw {
  display: none; }

#wdw-home {
  display: block; }

#main-container {
  width: 100%;
  display: block;
  margin-top: 50px;
  padding-top: 50px; }

body {
  background: #f2f2f2; }

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.flex-outer > li >,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px; }

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 120px; }
