html, body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

body {
  background: #F5F5F5;
  font-family: 'Varela Round', sans-serif; }

* {
  box-sizing: border-box; }

h2 {
  text-align: center; }

.container {
  display: block;
  width: 90%;
  height: auto;
  min-height: calc(100vh - 300px);
  margin: 100px auto;
  padding: 50px 0 10px 0;
  background-color: white; }

@media only screen and (min-width: 601px) and (max-width: 901px) {
  .container {
    width: 80%; } }

@media only screen and (min-width: 901px) {
  .container {
    width: 80%; } }

.form {
  width: 90%;
  max-width: 300px;
  display: block;
  margin: auto;
  padding: 10px 0; }
  .form .form-control {
    margin-bottom: 20px;
    width: 100%; }
  .form .form-row {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .form .form-row .form-control {
      width: 100%; }
  .form label, .form input {
    text-align: left;
    width: 100%;
    display: block; }
  .form label {
    color: #009688;
    font-weight: bold; }
  .form input {
    line-height: 50px;
    border: 1px solid #4DB6AC;
    padding-left: 10px; }
    .form input::placeholder {
      color: rgba(0, 0, 0, 0.3); }

@media only screen and (min-width: 601px) and (max-width: 901px) {
  .form {
    width: 60%; }
    .form .form-row {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .form .form-row .form-control {
        width: 48%; } }

@media only screen and (min-width: 901px) {
  .form {
    width: 40%; }
    .form .form-row {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .form .form-row .form-control {
        width: 48%; } }

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer; }

.btn-primary {
  background-color: #009688;
  color: white; }
  .btn-primary:hover {
    background-color: #00695C;
    color: white; }

.btn-default {
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2); }
  .btn-default:hover {
    background-color: rgba(0, 0, 0, 0.1); }

.icon {
  width: 20px;
  height: 20px; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 50px;
  background-color: #00695C; }
  .navbar a {
    color: white; }
  .navbar .nav-brand, .navbar .hide-nav {
    position: absolute;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center; }
  .navbar .nav-brand {
    left: 10%; }
  .navbar .hide-nav {
    right: 10%;
    font-size: 24px;
    color: white;
    cursor: pointer; }
    .navbar .hide-nav i {
      padding: 10px; }
  .navbar ul {
    position: relative;
    margin-top: 50px;
    display: none; }
    .navbar ul li {
      height: 50px;
      border-top: 1px solid rgba(255, 255, 255, 0.2); }
      .navbar ul li:first-child {
        border-top-color: rgba(255, 255, 255, 0.5); }
      .navbar ul li a {
        width: 100%;
        display: inline-block;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white; }
        .navbar ul li a:hover, .navbar ul li a.active {
          background-color: rgba(0, 0, 0, 0.2); }

@media only screen and (min-width: 901px) {
  .navbar {
    display: flex; }
    .navbar .hide-nav {
      display: none; }
    .navbar ul {
      position: absolute;
      right: 10%;
      margin: 0;
      display: inline-block; }
      .navbar ul li {
        display: inline-block;
        margin-right: 20px;
        border-top: none; }
        .navbar ul li a {
          padding: 0 10px; } }

footer {
  width: 100%;
  height: 100px;
  background-color: #00695C;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.wdw {
  display: none; }

#wdw-home {
  display: block; }

#main-container {
  width: 100%;
  display: block;
  margin-top: 50px; }

.container, .row, .col {
  display: block; }

.row {
  margin: 10px auto;
  padding: 10px 0; }

.centered {
  display: flex;
  justify-content: center;
  align-items: center; }

.flights-list {
  width: 90%;
  display: block;
  margin: auto; }
  .flights-list .data-row {
    border: 1px solid #009688;
    margin-bottom: 20px; }
    .flights-list .data-row .row {
      margin-bottom: 0; }
    .flights-list .data-row > div {
      border-top: 1px solid #E0F2F1; }
  .flights-list .main-data {
    display: flex;
    padding: 10px; }
    .flights-list .main-data .data {
      height: auto;
      min-height: 50px;
      font-weight: bold; }
      .flights-list .main-data .data:first-child {
        margin-bottom: 25px; }
      .flights-list .main-data .data span {
        margin-left: 5px; }
    .flights-list .main-data img {
      height: 100px;
      margin-right: 5px; }
  .flights-list .additional-data {
    padding: 10px;
    display: flex;
    flex-direction: column; }
    .flights-list .additional-data > div {
      height: 20px;
      display: flex;
      margin-top: 10px; }
      .flights-list .additional-data > div img {
        margin-right: 5px; }
  .flights-list .price-data {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }

@media only screen and (min-width: 601px) and (max-width: 901px) {
  .flights-list .additional-data {
    flex-direction: row; }
    .flights-list .additional-data > div {
      margin-right: 10px; } }

@media only screen and (min-width: 901px) {
  .flights-list .additional-data {
    flex-direction: row; }
    .flights-list .additional-data > div {
      margin-right: 20px; } }

.search-form {
  width: 90%;
  display: block;
  margin: auto;
  padding: 10px 0; }
  .search-form input {
    height: 50px; }

.first-row-mb select {
  -webkit-appearance: button;
  -moz-appearance: none;
  width: 265px;
  border: none; }

.destination-from, .destination-to {
  display: flex;
  max-width: 300px;
  height: 50px;
  border: 1px solid #4DB6AC;
  margin-bottom: 15px; }
  .destination-from:before, .destination-to:before {
    font-family: FontAwesome;
    content: "\f197";
    /*fa-space-shuttle*/
    width: 35px;
    align-items: center;
    font-size: 1.5em;
    color: #009688;
    margin-top: 10px; }

.destination-to:before {
  -webkit-transform: rotate(180deg);
  margin-bottom: 10px; }

.second-row-mb input {
  border: none; }

#date-from, #date-to {
  display: flex;
  max-width: 300px;
  border: 1px solid #4DB6AC;
  margin-bottom: 15px; }
  #date-from:before, #date-to:before {
    font-family: FontAwesome;
    content: "\f073";
    /*fa fa-calendar*/
    margin: 10px 4px;
    color: #009688;
    font-size: 1.5em; }

.second-row-mb input[type="date"] {
  background: transparent;
  width: 265px;
  border: none; }
  .second-row-mb input[type="date"]::-webkit-inner-spin-button {
    display: none; }

.third-row-mb {
  display: flex;
  min-width: 300px; }
  .third-row-mb .passanger-input {
    margin-left: 4px;
    border: none;
    background: transparent;
    width: 50px; }

#passanger {
  display: flex;
  max-width: 300px;
  border: 1px solid #4DB6AC;
  margin-right: 10px; }
  #passanger:before {
    font-family: FontAwesome;
    content: "\f21b";
    /*fa-user-secret*/
    width: 35px;
    color: #009688;
    font-size: 1.5em;
    margin: 15px 4px;
    /*align-content:center;*/
    /*margin-top: 15px;*/
    /*display: block;*/
    /*margin-left: 4px;	*/ }

.triptype-dropdown {
  width: 50em;
  overflow: hidden;
  display: inline-flex;
  align-items: center; }
  .triptype-dropdown:before {
    font-family: FontAwesome;
    content: "\f0ec";
    /*fa-exchange*/
    border: none;
    width: 35px;
    color: #009688; }

.triptype {
  font-size: 14px;
  border: none;
  height: 50px;
  -webkit-appearance: button;
  -moz-appearance: none; }

@media only screen and (min-width: 601px) and (max-width: 901px) {
  #first-row-lg, .first-row-mb, .second-row-mb {
    display: flex;
    align-items: center; } }

@media only screen and (min-width: 901px) {
  .first-row-lg, .first-row-mb, .second-row-mb {
    display: flex;
    align-items: center; } }

.cover {
  position: relative;
  width: 100vw;
  height: auto;
  background-image: url("../images/bt2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: calc(100vh - 150px);
  color: white; }
  .cover .cover-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6); }
    .cover .cover-content img {
      width: 100%; }

.confirm-section {
  width: 90%;
  display: block;
  margin: auto; }
  .confirm-section .data-row {
    border: 1px solid #009688;
    margin-bottom: 20px; }
    .confirm-section .data-row .row {
      margin-bottom: 0; }
    .confirm-section .data-row > div {
      border-top: 1px solid #E0F2F1; }
  .confirm-section .main-data {
    display: flex;
    padding: 10px; }
    .confirm-section .main-data .data {
      height: auto;
      min-height: 50px;
      font-weight: bold; }
      .confirm-section .main-data .data:first-child {
        margin-bottom: 25px; }
      .confirm-section .main-data .data span {
        margin-left: 5px; }
    .confirm-section .main-data img {
      height: 100px;
      margin-right: 5px; }
  .confirm-section .additional-data {
    padding: 10px;
    display: flex;
    flex-direction: column; }
    .confirm-section .additional-data > div {
      height: 20px;
      display: flex;
      margin-top: 10px; }
      .confirm-section .additional-data > div img {
        margin-right: 5px; }

@media only screen and (min-width: 601px) and (max-width: 901px) {
  .confirm-section .additional-data {
    flex-direction: row; }
    .confirm-section .additional-data > div {
      margin-right: 10px; } }

@media only screen and (min-width: 901px) {
  .confirm-section .additional-data {
    flex-direction: row; }
    .confirm-section .additional-data > div {
      margin-right: 20px; } }
